.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    justify-content: center;
}

.footer .footer-text {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
}
